@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1,
h2 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 3px;
    color: #3a3a3a;
}

#logo {
    width: 100%;
    float: left;
    font-size: 300%;
    height: 100px;
    background: #FFFFFF;
    padding-left: 35px;
    padding-top: 20px;
}

/* navigation links */

#menu {
    font-size: 120%;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    background: lightgray;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.menu ul {
    list-style-type: none;
}

.blockline {
    display: inline-block;
}

#menu li {
    list-style-type: none;
    padding-left: 135px;
}

.blockline:hover {
    text-decoration: underline #3a3a3a;
}


#menu a {
    text-decoration: none;
    color: inherit;

}

/* main section */
#main-section {
    width: 100%;
    display: flex;
    padding: 1em;
}

#left-about {
    font-size: 120%;
    padding-top: 200px;
    width: 50%;
    text-align: center;
    float: left;
    background-color: #FFFFFF;
}

.left-about-heading {
    width: 100%;
    float: left;
    line-height: 40px;
    margin-bottom: 20vh;
    clear: both;
    background-color: #FFFFFF;
}

.left-about-heading p {
    font-weight: 300;
    font-weight: bold;
    margin-bottom: 2px;
}

#right-about {
    padding-top: 80px;
    width: 50%;

    text-align: center;
    float: right;
    background-color: #FFFFFF;
}

.right-about-heading {
    width: 100%;

    float: right;
    line-height: 40px;
    margin-bottom: 0vh;
    clear: both;
    background-color: #FFFFFF;
}

img {
    width: 80%;
    height: auto;
}

/* quote section */
#quote-section {
    height: 150px;
    margin-bottom: 75px;
    padding-top: 75px;
    width: 100%;
    text-align: center;
    font-style: italic;
    float: left;
    background: #FFFFFF;
}

/* footer section  */
footer {
    height: 50px;
    width: 100%;
    text-align: center;
    float: left;
    background-color: #FFFFFF;
}

.social-media {
    text-align: center;
    background-color: lightgray;
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    margin: 2px;
    padding: 30px;
    color: #3a3a3a
}

.social-media i:hover {
    color: #2f6d3c;

}

/* aboutme */
#left-aboutme {
    font-size: 120%;
    padding-top: 0px;
    width: 50%;
    text-align: center;
    float: left;
    background-color: #FFFFFF;

}

.left-aboutme-heading {
    width: 100%;
    float: right;
    line-height: 0px;
    margin-bottom: 0vh;
    clear: both;
    background-color: #FFFFFF;

}

#imgFrame {
    width: 500px;
    height: 800px;
    border: 30px solid #FFFFFF;
    padding: 5%;
    margin: 5%;
    float: right;

}

#right-aboutme {
    padding-top: 75px;
    width: 500px;
    font-size: 100%;
    text-align: justify;
    margin: 3%;
    float: left;
    background-color: #FFFFFF;

}

.right-aboutme-heading {
    width: 100%;
    float: right;
    line-height: 200%;
    margin-bottom: 0vh;
    clear: both;
    background-color: #FFFFFF;
}

/* services section */
div.gallery {
    margin: 40px;
    float: left;
    width: 400px;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.description {
    padding: 30px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.services {
    padding: 50px;
    width: 33%;
    display: inline-flex;
    justify-content: center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#fees-text {
    text-align: center;
    margin: 20px;
    font-size: 150%;
}

#fees-text h3 {
    text-align: center;
}

.fees-section {
    height: 300px;
}

/* contact section */
.contact-section {
    background: #FFFFFF;
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-form {
    color: #fff;
    background-color: #3a3a3a;
    max-width: 600px;
    position: absolute;
    padding: 30px;
    border: 1px solid #3a3a3a;
    margin: 0 2em;
}

.sign_up h3 {
    color: #fafafa;
    margin-bottom: 35px;
    text-align: center;
}

.text-input {
    background-color: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.signup-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    background-color: #2f6d3c;
    color: #fafafa;
    display: block
}

.signup-button:hover {
    background-color: #fafafa;
    color: #2f6d3c
}

/* response section */
.response-section {
    background: #FFFFFF;
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.response-message {
    color: #fff;
    background-color: #3a3a3a;
    max-width: 600px;
    position: absolute;
    padding: 30px;
    border: 1px solid #3a3a3a;
    margin: 0 2em;
}

.response-message h3 {
    font-size: 200%;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
}
.response-message p {
    
}