@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body{ 
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 3px;
    color: olive;
}
#logo{
    width: 100%;
    float: left;
    font-size: 300%;
    height: 100px;
    background: #c28787;
    padding-left: 35px;
    padding-top: 20px;
}
/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 3px;
    text-align: center;
    background: #bef0c1;
    
}   
.menu ul {
    list-style-type: none;
}
.blocklinedupa {
    display:inline-block;
}

#menu li {
    list-style-type: none;
    padding-left: 135px;
}
#menu a{
    text-decoration: none;
    color: inherit;
}